In [3]:
import pandas as pd
df = pd.read_csv(r'/Users/durazno/Downloads/shipping_data.csv')

I have imported my csv file and now I want to check the first couple rows 
to see what kind of data I am working with.

In [7]:
df.head(5)

,name,price ($),weight (kg),length (m),width (m),height (m),shipment date,destination port
0,Camera Bag,37.66,1.10,0.40,0.39,0.26,2023-03-19,Port of Singapore (Singapore)
1,Portable Bluetooth Keyboard,144.65,0.39,0.11,0.06,0.03,2023-03-21,Port of Busan (South Korea)
2,Large Flat Rate Box,38.57,0.97,0.79,0.55,0.35,2023-03-25,Port of Tianjin (China)
3,Ceramic Tiles,10.34,6.22,0.36,0.37,0.02,2023-03-15,Port of Shanghai (China)
4,Garden Hose,21.63,1.18,17.77,0.27,0.13,2023-03-25,Port of Tianjin (China)

Now I want to check the types of each column.

In [10]:
df.dtypes

name                 object
price ($)           float64
weight (kg)         float64
length (m)          float64
width (m)           float64
height (m)          float64
shipment date        object
destination port     object
dtype: object

I will make the shipment date into datetime format.

In [11]:
df['shipment date'] = pd.to_datetime(df['shipment date'], format = '%Y-%m-%d')

Now I will check if any of the columns have blank, missing, or null values.

In [13]:
df['destination port'].isnull().sum()

26

In [14]:
df['price ($)'].isnull().sum()

0

In [15]:
df['weight (kg)'].isnull().sum()

13

In [16]:
df['length (m)'].isnull().sum()

184

In [17]:
df['width (m)'].isnull().sum()

0

In [18]:
df['shipment date'].isnull().sum()

2638

There are null values. I tried to cross match any missing records with other given data but found no matches.
e.g.: For a missing weight record for a bed I looked for matching lengths and widths of other beds to see if there were any correlations. There weren't any.

In [27]:
df.loc[df['weight (kg)'].isnull() ==  True]

,name,price ($),weight (kg),length (m),width (m),height (m),shipment date,destination port
6084,Portable Charger,38.84,NaN,0.13,0.07,0.03,2023-03-17,Port of Tianjin (China)
27873,Microphone,243.44,NaN,0.06,0.06,0.20,2023-03-27,Port of Tianjin (China)
62712,Pallete of Shoes,445.97,NaN,1.00,0.95,1.24,2023-03-16,Port of Busan (South Korea)
106435,Bed,451.19,NaN,2.23,1.88,1.03,2023-03-13,Port of Tokyo (Japan)
114334,Pallete of Tea,336.94,NaN,1.13,0.95,1.26,2023-03-26,Port of Tokyo (Japan)
134316,Computer,758.39,NaN,0.45,0.49,0.15,2023-03-12,Port of Tianjin (China)
143705,Stone Slabs,115.67,NaN,0.76,0.67,0.07,2023-03-13,Port of Singapore (Singapore)
146637,Dining Table,210.75,NaN,1.50,1.49,0.76,2023-03-19,Port of Tianjin (China)
162937,Soap Dispenser,13.61,NaN,0.13,0.17,0.28,2023-03-12,Port of Singapore (Singapore)
174575,Hoe,26.82,NaN,0.93,0.41,0.41,2023-03-26,Port of Busan (South Korea)
229151,Hair Dryer,31.90,NaN,0.21,0.10,0.16,2023-03-22,Port of Busan (South Korea)
230190,Portable Charger,46.96,NaN,0.13,0.09,0.04,2023-03-28,Port of Busan (South Korea)
254689,Big Bag with Coal,146.59,NaN,1.79,0.81,0.19,2023-03-28,Port of Shanghai (China)

In [32]:
df.loc[(df['name']=='Bed' )& (df['length (m)']==2.23) & (df['width (m)']==1.88)]

,name,price ($),weight (kg),length (m),width (m),height (m),shipment date,destination port
106435,Bed,451.19,NaN,2.23,1.88,1.03,2023-03-13,Port of Tokyo (Japan)
117212,Bed,305.18,65.06,2.23,1.88,1.49,2023-03-19,Port of Busan (South Korea)
129618,Bed,247.63,81.99,2.23,1.88,1.42,2023-03-16,Port of Busan (South Korea)

The heights do not match with any of the records, therefore I cannot assume the weight of another bed.